@font-face {
   font-family: 'Amalfi Coast';
   font-display: swap;
   src: url('file:///C:/Users/Liam/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-07-07_064223/fonts/Amalfi%20Coast/font.ttf');
}
