@font-face {
   font-family: 'AlegreyaSans-Regular';
   font-display: swap;
   src: url('file:///C:/Users/Liam/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-07-07_064223/fonts/AlegreyaSans-Regular/font.ttf');
}
